/* Titles*/
$font-size-h: 36px;
$font-family-h: "IBM Plex Sans";
$font-color-h: #060A24;
/*text*/
$font-size-p: 14px;
$font-family-p: "IBM Plex Mono";
$font-color-p: #060A24;
$font-size-h-d: 64px;
/*buttons*/
$font-family-button: "IBM Plex Mono";
$color-button-p: #060a24;
$color-button-fond: #00f3bb;
$button-hover: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
/*nav&fond*/
$fond-general:linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
$nav-fond:  #0000EC;
$font-size-nav: 16px;

